<%- include('partials/header') %> <%# including header and footer file %> 
<h1> <%= title %> </h1> <%# catching title thrown from app.get(/posts/:topic) %> 
<p> <%= content %>  </p> <%# catching content thrown from app.get(post/:topic) %>
<%- include('partials/footer') %> 